@media screen and (max-width: 480px) {
  .position {
      top: 25px !important;
      text-align: center !important;
          float: inherit !important;
      right: inherit !important;
  }
    .div-black{
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

}



.navbar-expand-lg{
border-bottom: 1px solid lightgrey;
}
.display-block{
    display: block;
}
.margin-bottom-0{
    margin-bottom: 0;
}
.margin-top-150{
    margin-top: 150px;
}
.form-control {
    border-radius: 30px;
}
.btn {
    border-radius: 30px;
    border: 1px solid #ced4da;
}
.btn-secondary{
    background: white;
}
.btn-secondary:hover {

    background-color: white;
    border-color: #ced4da;
}
.color-black{
    color: black;

}
.input-group{
    margin-bottom: 60px;
    margin-top: 60px;
}
.mt-50{
    margin-top: 50px;
}
.position{
        float: right;
    position: relative;
    top: -51px;
    right: 80px;
}
.color-red{
color: #5D1312;
}
.nav-link{
    color: #F7898E;
}
.btn:focus {
    outline: 0;
    box-shadow:none;
}
.br-0{
    border-right: 0;
}





.nav-tabs .nav-link.active {
    color:  #F7898E;
    border-color: transparent;
    background-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: transparent;
    background-color: transparent;
}
.nav-link1{
    color: black;
}
.margin-top-40{
    margin-top: 40px;
}
.footer-black{
    background-color: black;
    color: white;
    padding: 25px 25px 10px 25px;
}
ul{
    list-style: none !important;
}
.fa-arrow-circle-right{
        margin-top: 5px;
    margin-right: 15px;
    color: red;
}
.div-black{
    color: white;
    padding-top: 75px;
    padding-bottom: 20px;
    padding-right: 180px;
    padding-left:70px;
}

.sentence-active {
    font-weight: bold;
}
.cursor-pointer {
    cursor: pointer;
}
.line-empty{
    border-bottom: 2px solid grey;
    margin-left: 10px;
}
.line-grey{
    border-bottom: 2px solid grey;
    margin-left: 10px;
}

.scroll-1{
    background-color: black;
    overflow-y: scroll;
    height: 600px;
    color: white;
}
.line-gray{
 border-bottom: 2px solid gray;
    margin-left: 10px;

}
.line-height-40{
    font-size: 24px;
    font-weight: 400;
}
.line-yellow{
        border-bottom: 2px solid yellow;
     margin-left: 10px;

}
.line-yellow-1{
    font-size: 11px;
    margin-left: 10px;
}
.line-green{
     border-bottom: 2px solid green;
     margin-left: 10px;

}

.line-purple{
     border-bottom: 2px solid purple;
     margin-left: 10px;

}
.line-pink{
     border-bottom: 2px solid pink;
     margin-left: 10px;


}
.padding-60{
    padding-left: 60px;
    padding-right: 60px;
}
.page-link, .page-link:hover{
    border: none;
    color: #F7898E !important;
    background-color: transparent;
    padding: 0.5rem 2.5rem;
}

.line-height-40 li{
    display:inline-block;
}
