@media screen and (max-width: 480px) {
  .position {
      top: 25px !important;
      text-align: center !important;
          float: inherit !important;
  }
 
}



.navbar-expand-lg{
border-bottom: 1px solid lightgrey;
}
.display-block{
    display: block;
}
.margin-bottom-0{
    margin-bottom: 0;
}
.margin-top-150{
    margin-top: 150px;
}
.form-control {
    border-radius: 30px;
}
.btn {
    border-radius: 30px;
    border: 1px solid #ced4da;
}
.btn-secondary{
    background: white;
}
.btn-secondary:hover {
    
    background-color: white;
    border-color: #ced4da;
}
.color-black{
    color: black;
    
}
.input-group{
    margin-bottom: 60px;
    margin-top: 60px;
}
.mt-50{
    margin-top: 50px;
}
.position{
        float: right;
    position: relative;
    top: -51px;
}
.color-red{
color: #5D1312;
}
.nav-link{
    color: #F7898E;
}
.btn:focus {
    outline: 0;
    box-shadow:none;
}
.br-0{
    border-right: 0;
}





.nav-tabs .nav-link.active {
    color:  #F7898E;
    border-color: transparent;
    background-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: transparent;
    background-color: transparent;   
}
.nav-link1{
    color: black;
}
.margin-top-40{
    margin-top: 40px;
}
.footer-black{
    background-color: black;
    color: white;
    padding: 25px 10px 10px 10px;
}